:root {
  /* semantic color variables */
  --color-primary: #aee68c;
  --color-secondary: #90f032;
  --color-tertiary: #c4ffab;
  --color-purple-1: #c799d9;
  --color-purple-2: #6f4181;
  --color-grey-1: #394e64;
  --color-grey-2: #828f8f;
  --color-red: #ff0000;
  --color-white: #fff;
  --border-color: #c8dde6;
  --background-color: #1b1b1b;
  --shadow-color: rgba(57, 78, 100, 0.5);

  /* semantic sizes */

  --xs-font-size: 16px;
  --small-font-size: 18px;
  --medium-font-size: 20px;
  --large-font-size: 24px;
  --xl-font-size: 30px;
  --xxl-font-size: 40px;

  --xs-padding-size: 8px;
  --small-padding-size: 16px;

  --small-margin-size: 16px;

  /* border radius */

  --medium-border-radius: 8px;
  --rounded-border-radius: 50%;

  /* gap */
  --medium-gap: 10px;

  /* other resuable css... */
}
