*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
select,
input,
button {
  font-family: 'Open Sans', serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.list {
  list-style: none;
}

#app {
  background-color: #1b1b1b;
  min-height: 120vh;
}

@media (min-width: 1024px) {
  #app {
    background-image: url('../assets/images/monstr_hero.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
  }
}

/* @import './base.css';
@import './components.css';



@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/
