@import './base.css';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
select,
input,
button {
  font-family: 'Open Sans', serif;
  font-size: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  background-color: var(--background-color);
  min-height: 120vh;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul,
li {
  list-style: none;
}

/* reusable input filter for sort by and select category */

.filter-container {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: var(--color-grey-1);
}

.filter-label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  color: var(--color-grey-1);
}

.filter-icon {
  position: absolute;
  left: 8px;
  top: 45%;
  color: var(--color-grey-1);
}

.chevron-icon {
  position: absolute;
  right: 8px;
  top: 45%;
  transform: scale(0.7);
  color: var(--color-grey-1);
}

.custom-select {
  border: 2px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-grey-1);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  background-color: var(--color-white);
  height: 39px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.custom-select:focus {
  border-color: var(--border-color);
  outline: none;
  box-shadow: 0 0 0 2px var(--shadow-color);
}

.selected-option {
  padding-left: 32px;
}

.options-list {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  background: white;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.options-list li {
  padding: var(--xs-padding-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-list li:hover,
.options-list li.selected {
  background-color: var(--color-primary);
  color: white;
}

@media (min-width: 1024px) {
  #app {
    background-image: url('../assets/images/monstr_hero.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
  }

  .filter-label {
    color: var(--color-white);
  }
}
